---
export const prerender = false;
import type { PacksResponse } from '../utils/types/definitions';
import { getSearchPacks } from '../utils/feath';
import Layout from '../layouts/Layout.astro';
import Message from '../components/Message.astro';
import Gallery from '../components/react/Gallery'
import Pagination from '../components/react/Pagination'
import RandomPacks from '../components/RandomPacks.astro';

const search: string = Astro.url.searchParams.get("search") || "";
const page: number = parseInt(Astro.url.searchParams.get("page") || "1");
const itemsPerPage: number = 12;
const offset: number = (page - 1) * itemsPerPage;

const { data }: PacksResponse = await getSearchPacks(itemsPerPage, offset, search);
---

{ data.packs.length ? 

	<Layout meta={`Mira Packs ${search} porno gratis sin acortadores, aquí en OnlyPacks. Descubre la creciente colección de packs caseros y de famosas. Los más relevantes de alta calidad. ¡No hay otro canal de packs más popular y que presente más packs calientes que OnlyPacks! Navega a través de nuestra impresionante selección de packs porno en calidad HD en cualquiera de tus dispositivos.`} title={`Packs ${search} de Sexo Gratis | OnlyPacks`}>
		<main class="max-w-screen-lg mx-auto p-4">
			<Message message={`Resultados de "${search}" a nivel internacional`}/>
			<Gallery client:only="react" packs={data.packs} className="mt-6 grid grid-cols-2 xs:grid-cols-3 lg:grid-cols-4 gap-4" />
			{(data.stats.total > itemsPerPage) &&
    			<Pagination client:only="react" totalItems={data.stats.total || 0} itemsPerPage={itemsPerPage || 0} maxPages={4} minPages={3} />
			}
		</main>
	</Layout>

	:

	<Layout meta="Packs porno gratis sin acortadores, aquí en OnlyPacks. Descubre la creciente colección de packs caseros y de famosas. Los más relevantes de alta calidad. ¡No hay otro canal de packs más popular y que presente más packs calientes que OnlyPacks! Navega a través de nuestra impresionante selección de packs porno en calidad HD en cualquiera de tus dispositivos." title="No se han encontrado resultados | OnlyPacks">
		<main class="max-w-screen-lg mx-auto p-4">
			<Message message={`No se han encontrado resultados para "${search}" a nivel internacional`}/>
			<div class="my-3">
				<p class="text-xs text-white">Lo sentimos, pero la búsqueda solicitada no se pudo encontrar.</p>
				<a href="/" class="text-xs text-amber-500 hover:underline">Volver a la página principal</a>
			</div>
			<RandomPacks/>
		</main>
	</Layout>
}
