---
import { trendingSearches } from '../utils/data/data';
import { IconHeart, IconLens, IconOnlypacks, IconStar } from './icons/react/outline';
import Modal from './Modal.astro';
---

<nav class="flex flex-nowrap items-center justify-between p-4 xs:gap-10">

    <a href="/" aria-label="App Logo">
        <IconOnlypacks className="h-7 xs:h-9"/>
    </a> 

    <div class="max-xs:hidden relative w-full xs:max-w-md xl:max-w-xl">

        <form class="search-form">   
            <label for="search-input" class="sr-only">Search</label>
            <div class="relative">
                <input id="search-input" type="text" class="search-input block w-full py-2.5 pr-4 pl-11 rounded-full border-0 text-sm text-white placeholder:text-sm placeholder:text-neutral-400 outline-none focus:outline-none focus:ring-2 focus:ring-inset focus:ring-neutral-700/50 bg-neutral-800" placeholder="Buscar en Onlypacks" autocomplete="off" required/>
                <button type="submit" class="absolute start-1.5 bottom-1 p-1.5 rounded-full hover:bg-neutral-400/10 group" aria-label="consult search">
                    <IconLens strokeWidth="3" className="w-5 h-5 stroke-white"/>
                </button>
            </div>
        </form>

        
        <div id="trending-searches" class="hidden absolute w-full mt-1 z-20">
            <div class="py-4 px-1 rounded-xl bg-black space-y-3">
                <h2 class="px-5 text-lg font-medium text-white">Búsquedas de Tendencia</h2>
                <ul>
                    {trendingSearches.map((trending) => (
                        <li>
                            <a href={`/search?search=${trending.href}`} class="block py-1 px-5 text-sm text-neutral-350 hover:text-white hover:bg-neutral-400/10">
                                {trending.trend}
                            </a>                                
                        </li>
                    ))}
                </ul>
            </div>        
        </div>
     
    </div>
    
    <div class="flex space-x-3">

        <Modal>

            <button slot="button" id="open-modal" type="button" class="xs:hidden p-1.5 rounded-full hover:bg-neutral-400/10 group" aria-label="Open search menu">
                <IconLens strokeWidth="2.5" className="w-6 h-6 stroke-neutral-350 group-hover:stroke-white"/>
            </button>
            
            <div slot="content" class="flex justify-center min-h-full">

                <div class="w-full max-w-xl p-4">

                    <div class="flex items-center">      

                        <form class="w-full search-form">    
                            <label for="search-input" class="sr-only">Search</label>
                            <div class="relative">
                                <input id="search-input" autofocus type="text" class="search-input search block w-full py-1.5 pr-4 pl-11 rounded-full border-0 text-lg text-white placeholder:text-lg placeholder:text-neutral-400 outline-none focus:outline-none focus:ring-0 bg-neutral-800" placeholder="Buscar en Onlypacks" autocomplete="off" required/>
                                <button type="submit" class="absolute start-1.5 bottom-1 p-1.5 rounded-full hover:bg-neutral-400/10" aria-label="consult search">
                                    <IconLens strokeWidth="3" className="w-5 h-5 stroke-white"/>
                                </button>
                            </div>
                        </form>

                        <button id="close-modal" type="button" class="ms-4 text-base font-medium text-neutral-350 hover:text-white" aria-label="Close search menu">
                            Cancelar
                        </button>

                    </div>

                    <div class="py-4 space-y-3">
                        <h2 class="px-4 text-lg font-medium text-white">Búsquedas de Tendencia</h2>
                        <ul>
                            {trendingSearches.map((trending) => (
                                <li>
                                    <a href={`/search?search=${trending.href}`} class="block py-1 px-4 text-sm text-neutral-350 hover:text-white hover:bg-neutral-400/10">
                                        {trending.trend}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </div>

                </div>

            </div>
           
        </Modal>  

        <a href="/favorites" class="p-1.5 rounded-full hover:bg-neutral-400/10 group" aria-label="Favorites">
            <IconHeart strokeWidth="2.5" className="w-6 xs:w-7 h-6 xs:h-7 stroke-neutral-350 group-hover:stroke-white"/>
        </a>

        <a href="/" class="p-1.5 rounded-full hover:bg-neutral-400/10 group" aria-label="Update">
            <IconStar strokeWidth="2.5" className="w-6 xs:w-7 h-6 xs:h-7 stroke-neutral-350 group-hover:stroke-white"/>
        </a>

    </div>

</nav>

<script> 
    const searchForm =  document.querySelectorAll('.search-form') as NodeListOf<HTMLFormElement>;
    const searchInput = document.querySelectorAll('.search-input') as NodeListOf<HTMLInputElement>;
    const trendingDiv = document.getElementById('trending-searches') as HTMLDivElement;
    const searchModal = document.getElementById('modal') as HTMLElement;

    interface OpenChangeEventDetail {
        open: boolean;
    };

    const handleFormSubmit = (event: SubmitEvent) => {
        event.preventDefault(); // Prevent the default form submission
        
        searchInput.forEach(input => {
            const searchTerm = input.value.trim();
            if (searchTerm) {   // If the search term is not empty 
                const params = new URLSearchParams({ search: searchTerm }); // Create URL parameters
                window.location.href = `/search?${params.toString()}`; // Redirect to the search URL
            };
        });
    };

    // Handle form submission
    searchForm.forEach(form => {
        form.addEventListener('submit', handleFormSubmit);
    });

    searchInput.forEach(input => {
        input.addEventListener('focus', () => {
            trendingDiv.classList.remove('hidden'); // Show the trending searches div
        });

        input.addEventListener('blur', () => {
            setTimeout(() => {
                trendingDiv.classList.add('hidden'); // Hide the trending searches div
            }, 300); // Add a delay to allow clicking on trending items
        });
    });

    searchModal.addEventListener('modalStateChange', (event) => {
        const customEvent = event as CustomEvent<OpenChangeEventDetail>;

        if (customEvent.detail.open) {
            searchInput.forEach(input => {
                input.focus();
            });
        };
    });
</script> 